body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inputWidths {
  width: 20vw;
  height: 25px;
}

.tableWidth {
  width: 95vw;
  height: 5vh;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid navy;
}

tr {
  border: 1px solid navy;
}

.headers {
border: 1px solid navy;
background-color: lightsteelblue;
}